body{
  margin: 0;
  padding: 0;
}

#__nuxt{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

*{
  font-family: 'Century Gothic', sans-serif;
  box-sizing: border-box;
}

ul, ol{
  list-style: none;
  padding: 0;
  margin: 0;

  li{
    list-style: none;
  }
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  font-family: "Calibri";
  color: $color-primary-red;
}

a{
  text-decoration: none;
  color: inherit;
}

img{
  max-width: 100%;
  height: auto;
}

figure{
  margin: 0;
}

button{
  cursor: pointer;
  border: none;
  background: none;
}

p{
  margin: 0;
  padding: 0;
}
