@mixin invertedRadius($rotation: '') {
  content: '';
  display: flex;
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle at 0% 0%, transparent var(--size), var(--color) var(--size));
  transform: scale(-1, 1) #{$rotation};
  position: absolute;
}
